<h1>Página Inicial</h1>
<h3> Sistema de Monitorias para Deficientes</h3>
<!-- <p>Find me in app/views/paginas/index.html.erb</p> -->

<!-- <a href="#" title = "Titulo que aparece como tooltip data-toggle="tooltip"> Link com tooltip </a>
<script>
$(function(){
$('[data-toogle="tooltip"]').tooltip();
})
</script> -->